# Loading Data Example

In [1]:
import pyblp

pyblp.__version__

'0.8.1'

Any number of functions can be used to load the example data into memory. In this example, we'll first use [NumPy](https://numpy.org/).

In [2]:
import numpy as np
blp_product_data = np.recfromcsv(pyblp.data.BLP_PRODUCTS_LOCATION, encoding='utf-8')
blp_agent_data = np.recfromcsv(pyblp.data.BLP_AGENTS_LOCATION, encoding='utf-8')

Record arrays can be cumbersome to manipulate. A more flexible alternative is the [pandas](https://pandas.pydata.org/) DataFrame. Unlike NumPy, pyblp does not directly depend on pandas, but it can be useful when manipulating data.

In [3]:
import pandas as pd
blp_product_data = pd.read_csv(pyblp.data.BLP_PRODUCTS_LOCATION)
blp_agent_data = pd.read_csv(pyblp.data.BLP_AGENTS_LOCATION)

Another benefit of DataFrame objects is that they display nicely in Jupyter notebooks.

In [4]:
blp_product_data.head()

,market_ids,clustering_ids,car_ids,firm_ids,region,shares,prices,hpwt,air,mpd,...,supply_instruments11,supply_instruments12,supply_instruments13,supply_instruments14,supply_instruments15,supply_instruments16,supply_instruments17,supply_instruments18,supply_instruments19,supply_instruments20
0,1971,AMGREM71,129,15,US,0.001051,4.935802,0.528997,0,1.888146,...,2.024221,-0.251338,0.741272,0.820281,3.691881,0.566070,-2.328128,0.385197,0.648526,1.052606
1,1971,AMHORN71,130,15,US,0.000670,5.516049,0.494324,0,1.935989,...,2.026706,-0.205305,0.675468,1.004707,3.628727,0.605683,-2.268975,0.363954,0.643205,0.906429
2,1971,AMJAVL71,132,15,US,0.000341,7.108642,0.467613,0,1.716799,...,1.882594,-0.417634,0.946640,0.429942,4.001801,0.253461,-2.581003,-0.113763,0.770387,1.511333
3,1971,AMMATA71,134,15,US,0.000522,6.839506,0.426540,0,1.687871,...,1.846079,-0.445630,0.982922,0.392283,4.061161,0.183331,-2.626074,-0.253065,0.802037,1.583208
4,1971,AMAMBS71,136,15,US,0.000442,8.928395,0.452489,0,1.504286,...,1.760927,-0.610203,1.201745,-0.085373,4.340853,-0.043107,-2.785686,-0.556135,0.931611,2.177230

In [5]:
blp_agent_data.head()

,market_ids,weights,nodes0,nodes1,nodes2,nodes3,nodes4,income
0,1971,0.005,1.764052,0.997845,0.945508,-1.962653,0.330046,4.172843
1,1971,0.005,0.400157,0.260081,0.422924,-0.834032,-0.000480,112.503416
2,1971,0.005,0.978738,0.925066,-1.175680,1.993837,0.818116,2.221875
3,1971,0.005,2.240893,1.476076,-0.204851,-0.666660,0.428214,0.814499
4,1971,0.005,1.867558,-1.879252,0.956495,0.976290,-2.503947,13.038725